<!DOCTYPE html>
<html>

  <body>

<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);max-width: 300px;margin: auto;text-align: center;">
  
  <h1>Welcome to Connect 24/7!</h1>
  <p class="title" style="color: #4B0082;font-size: 18px;">We </p>
  <p>
This is a centralized database connecting patients, doctors, and pathology. This project handles three important roles which are Patient, Doctor, and Pathology.Welcome to connect 24/7 Fam! </p>
  <p><button style="border: none;outline: 0;display: inline-block;padding: 8px;color: white;background-color: #4B0082;text-align: center;cursor: pointer;width: 100%;font-size: 18px;">You can Contact us through this email!</button></p>
</div>
  </body>
</html>